.mediaViewInfo {
	--web-view-name: Browse Gamer to Invest – 1;
	--web-view-id: Browse_Gamer_to_Invest___1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Browse_Gamer_to_Invest___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Browse_Gamer_to_Invest___1 {
	position: absolute;
	width: 1920px;
	height: 1960px;
	background-color: rgba(234,234,234,1);
	overflow: hidden;
	--web-view-name: Browse Gamer to Invest – 1;
	--web-view-id: Browse_Gamer_to_Invest___1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Avatar {
	opacity: 0.3;
	position: absolute;
	width: 196px;
	height: 196px;
	left: 202px;
	top: 385px;
	overflow: visible;
}
.Ellipse_40 {
	position: absolute;
	overflow: visible;
	width: 196px;
	height: 196px;
	left: 0px;
	top: 0px;
}
.Union_12 {
	overflow: visible;
	position: absolute;
	width: 65px;
	height: 65px;
	left: 65px;
	top: 65px;
	transform: matrix(1,0,0,1,0,0);
}
#Mulog__David_Fan_ {
	opacity: 0.3;
	position: absolute;
	left: 465px;
	top: 427px;
	overflow: visible;
	width: 412px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(99,99,99,1);
}
#League_of_Legends {
	opacity: 0.3;
	position: absolute;
	left: 465px;
	top: 496px;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(99,99,99,1);
}
#Points__780_1000 {
	opacity: 0.3;
	position: absolute;
	left: 1430px;
	top: 431px;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(99,99,99,1);
}
#Path_209 {
	opacity: 0.3;
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 1921.568px;
	height: 1px;
	left: 0px;
	top: 696.581px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_210 {
	opacity: 0.3;
}
.Path_210 {
	overflow: visible;
	position: absolute;
	width: 1921.568px;
	height: 1px;
	left: 0px;
	top: 1140.581px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
	opacity: 0.3;
	position: absolute;
	width: 402px;
	height: 296px;
	left: 227px;
	top: 753px;
	overflow: visible;
}
.Rectangle_1092 {
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 264px;
	left: 0px;
	top: 32px;
}
#Background_bars {
	position: absolute;
	width: 337px;
	height: 251px;
	left: 32px;
	top: 0px;
	overflow: hidden;
}
#Background_bars_0 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093 {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_1 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 43px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_z {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_2 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 86px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_a {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_3 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 129px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_b {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_4 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 172px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_c {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_5 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 215px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_d {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_6 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 258px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_e {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_7 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 301px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_f {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
.Main_Bar_g {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 122px;
	left: 290px;
	top: 129px;
}
.Main_Bar_i {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 103px;
	left: 247px;
	top: 148px;
}
.Main_Bar_k {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 87px;
	left: 204px;
	top: 164px;
}
.Main_Bar_m {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 109px;
	left: 161px;
	top: 142px;
}
.Main_Bar_o {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 60px;
	left: 118px;
	top: 191px;
}
.Main_Bar_q {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 45px;
	left: 75px;
	top: 206px;
}
.Main_Bar_s {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 39px;
	left: 32px;
	top: 212px;
}
.Main_Bar_u {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 113px;
	left: 333px;
	top: 138px;
}
#Group_11 {
	opacity: 0.3;
	position: absolute;
	width: 402px;
	height: 296px;
	left: 759px;
	top: 753px;
	overflow: visible;
}
.Rectangle_1094 {
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 264px;
	left: 0px;
	top: 32px;
}
#Background_bars_x {
	position: absolute;
	width: 337px;
	height: 251px;
	left: 32px;
	top: 0px;
	overflow: hidden;
}
#Background_bars_x_0 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_ {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_1 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 43px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_g {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_2 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 86px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_h {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_3 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 129px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_i {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_4 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 172px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_j {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_5 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 215px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_k {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_6 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 258px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_l {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_x_7 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 301px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_m {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
.Main_Bar_f {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 87px;
	left: 290px;
	top: 164px;
}
.Main_Bar_w {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 57px;
	left: 247px;
	top: 194px;
}
.Main_Bar_y {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 39px;
	left: 204px;
	top: 212px;
}
.Main_Bar_ {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 44px;
	left: 161px;
	top: 207px;
}
.Main_Bar_b {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 39px;
	left: 118px;
	top: 212px;
}
.Main_Bar_d {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 30px;
	left: 75px;
	top: 221px;
}
.Main_Bar_bab {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 20px;
	left: 32px;
	top: 231px;
}
.Main_Bar_bad {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 103px;
	left: 333px;
	top: 148px;
}
#Group_10 {
	opacity: 0.3;
	position: absolute;
	width: 402px;
	height: 296px;
	left: 1291px;
	top: 753px;
	overflow: visible;
}
.Rectangle_1095 {
	position: absolute;
	overflow: visible;
	width: 402px;
	height: 264px;
	left: 0px;
	top: 32px;
}
#Background_bars_w {
	position: absolute;
	width: 337px;
	height: 251px;
	left: 32px;
	top: 0px;
	overflow: hidden;
}
#Background_bars_w_0 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_y {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_1 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 43px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_n {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_2 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 86px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_o {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_3 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 129px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_p {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_4 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 172px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_q {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_5 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 215px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_r {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_6 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 258px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_s {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
#Background_bars_w_7 {
	position: absolute;
	width: 23px;
	height: 189px;
	left: 301px;
	top: 62px;
	overflow: visible;
}
.Rectangle_1093_t {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 189px;
	left: 0px;
	top: 0px;
}
.Main_Bar_baf {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 122px;
	left: 290px;
	top: 129px;
}
.Main_Bar_bah {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 103px;
	left: 247px;
	top: 148px;
}
.Main_Bar_baj {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 87px;
	left: 204px;
	top: 164px;
}
.Main_Bar_bal {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 109px;
	left: 161px;
	top: 142px;
}
.Main_Bar_ban {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 60px;
	left: 118px;
	top: 191px;
}
.Main_Bar_bap {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 45px;
	left: 75px;
	top: 206px;
}
.Main_Bar_bar {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 39px;
	left: 32px;
	top: 212px;
}
.Main_Bar_bat {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 113px;
	left: 333px;
	top: 138px;
}
#Statistics {
	opacity: 0.3;
	position: absolute;
	left: 230px;
	top: 637px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(99,99,99,1);
}
#Wishlist {
	opacity: 0.3;
	position: absolute;
	left: 230px;
	top: 1161px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(99,99,99,1);
}
#Twitch_Viewership {
	opacity: 0.3;
	position: absolute;
	left: 348px;
	top: 1062px;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
}
#Average_20__growth___month {
	opacity: 0.3;
	position: absolute;
	left: 299px;
	top: 753px;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
}
#Average_20__growth___month_x {
	opacity: 0.3;
	position: absolute;
	left: 831px;
	top: 753px;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
}
#Average_20__growth___month_y {
	opacity: 0.3;
	position: absolute;
	left: 1363px;
	top: 753px;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
}
#Youtube_Viewership {
	opacity: 0.3;
	position: absolute;
	left: 872px;
	top: 1062px;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
}
#Instagram_Followers {
	opacity: 0.3;
	position: absolute;
	left: 1402px;
	top: 1062px;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(99,99,99,1);
}
#Rectangle_72 {
	opacity: 0.3;
}
.Rectangle_72 {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 341px;
	left: 230px;
	top: 1234px;
}
#Rectangle_1096 {
	opacity: 0.3;
}
.Rectangle_1096 {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 341px;
	left: 589px;
	top: 1234px;
}
#Add {
	opacity: 0.3;
	position: absolute;
	width: 46px;
	height: 46px;
	left: 736px;
	top: 1382px;
	overflow: visible;
}
.Ellipse_226 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#_ {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 15px;
	top: 15px;
	overflow: visible;
}
.Union_1 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1097 {
	opacity: 0.3;
}
.Rectangle_1097 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 238px;
	left: 0px;
	top: 96px;
}
#Banner {
	opacity: 0.3;
	position: absolute;
	left: 879px;
	top: 187px;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(99,99,99,1);
}
#ID65__Funded {
	opacity: 0.3;
	position: absolute;
	left: 316px;
	top: 1388px;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(99,99,99,1);
}
#Button_CTA {
	opacity: 0.3;
	position: absolute;
	width: 227px;
	height: 74px;
	left: 1448px;
	top: 487px;
	overflow: visible;
}
.Rectangle_1090 {
	position: absolute;
	overflow: visible;
	width: 227px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Invest {
	position: absolute;
	left: 71px;
	top: 21px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_15 {
	position: absolute;
	width: 977px;
	height: 977px;
	left: 442px;
	top: 334px;
	overflow: visible;
}
#Group_14 {
	position: absolute;
	width: 977px;
	height: 977px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Pop_over {
	position: absolute;
	width: 977px;
	height: 977px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_667 {
	filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 845px;
	height: 831px;
	left: 111px;
	top: 113px;
}
#hero {
	position: absolute;
	width: 977px;
	height: 977px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_218 {
	opacity: 0.2;
}
.Path_218 {
	overflow: visible;
	position: absolute;
	width: 977px;
	height: 977px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_40_j {
	position: absolute;
	overflow: visible;
	width: 245px;
	height: 245px;
	left: 366px;
	top: 243px;
}
.Union_12_k {
	overflow: visible;
	position: absolute;
	width: 81px;
	height: 81px;
	left: 447px;
	top: 325px;
	transform: matrix(1,0,0,1,0,0);
}
#info {
	position: absolute;
	width: 294px;
	height: 38px;
	left: 342px;
	top: 550px;
	overflow: visible;
}
#Mulog__David_Fan__m {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 295px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -12px;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(38,153,251,1);
}
#Investing_in {
	position: absolute;
	left: 392px;
	top: 132px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(38,153,251,1);
}
#Group_8 {
	position: absolute;
	width: 323.877px;
	height: 63.003px;
	left: 217.409px;
	top: 667.958px;
	overflow: visible;
}
#Group_7 {
	position: absolute;
	width: 323.877px;
	height: 63.003px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199 {
	overflow: visible;
	position: absolute;
	width: 323.877px;
	height: 63.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Investment_Amount {
	position: absolute;
	left: 23.591px;
	top: 16.042px;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(38,153,251,1);
}
#Button_CTA_s {
	position: absolute;
	width: 203px;
	height: 67px;
	left: 557px;
	top: 668px;
	overflow: visible;
}
.Rectangle_1090_t {
	position: absolute;
	overflow: visible;
	width: 203px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Confirm {
	position: absolute;
	left: 51px;
	top: 19px;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#Interest_1_ {
	position: absolute;
	left: 991px;
	top: 815px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(38,153,251,1);
}
#Group_46 {
	position: absolute;
	width: 1920px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navigation_Bar {
	position: absolute;
	width: 1920px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Base {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#BORROW {
	position: absolute;
	left: 349px;
	top: 35px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#INVEST {
	position: absolute;
	left: 484px;
	top: 35px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#REFER {
	position: absolute;
	left: 749px;
	top: 35px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#DISCOVER {
	position: absolute;
	left: 606px;
	top: 35px;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Symbol_12___3 {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 1617px;
	top: 37px;
	overflow: visible;
}
.Rectangle_393 {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
}
#Group_45 {
	position: absolute;
	width: 241px;
	height: 70px;
	left: 40px;
	top: 13px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 171px;
	height: 50px;
	left: 70px;
	top: 10px;
	overflow: visible;
}
.Path_212 {
	overflow: visible;
	position: absolute;
	width: 171px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#MOOLAH {
	position: absolute;
	left: 19px;
	top: 9px;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#logo_FINAL {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 118px;
	height: 47px;
	left: 1752px;
	top: 25px;
	overflow: visible;
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.604));
	position: absolute;
	overflow: visible;
	width: 136px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Rectangle_1104 {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#LOG_IN {
	position: absolute;
	left: 25px;
	top: 13px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(234,234,234,1);
}
#Footer_1 {
	position: absolute;
	width: 1920px;
	height: 306px;
	left: 0px;
	top: 1646px;
	overflow: visible;
}
.Base_f {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 306px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#CONTACT_US {
	position: absolute;
	left: 77px;
	top: 69px;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#_44_345_678_903_adobexd_mail_c {
	position: absolute;
	left: 285px;
	top: 69px;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#SERVICES {
	position: absolute;
	left: 542px;
	top: 70px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Contact_Us_Ordering___Payment_ {
	position: absolute;
	left: 723px;
	top: 69px;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#INFORMATION {
	position: absolute;
	left: 984px;
	top: 69px;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Work_With_US_Privacy_Policy_Te {
	position: absolute;
	left: 1203px;
	top: 63px;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#social {
	position: absolute;
	width: 262px;
	height: 137px;
	left: 1608px;
	top: 63px;
	overflow: visible;
}
#Symbol_11___1 {
	position: absolute;
	width: 47.909px;
	height: 52px;
	left: 214.092px;
	top: 0px;
	overflow: visible;
}
.Rectangle_392 {
	position: absolute;
	overflow: visible;
	width: 35px;
	height: 52px;
	left: 12.909px;
	top: 0px;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 26.613px;
	height: 50.961px;
	left: 0px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Symbol_12___1 {
	position: absolute;
	width: 62px;
	height: 137px;
	left: 102px;
	top: 0px;
	overflow: visible;
}
.Rectangle_393_r {
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 137px;
	left: 0px;
	top: 0px;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 60.534px;
	height: 49.1px;
	left: 0px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Symbol_13___1 {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}