.mediaViewInfo {
	--web-view-name: Sign Up (Investors);
	--web-view-id: Sign_Up__Investors_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Sign_Up__Investors_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

input[type=text] {
	border: 1px solid rgba(234,234,234,1);
	border-radius: 10px;
	background-color: #EAEAEA;
	margin-left: 10px;
	width: 350px;
	margin-right: 10px;
	outline: none;
}

#Sign_Up__Investors_ {
	position: absolute;
	width: 1920px;
	height: 1595px;
	background-color: rgba(101,97,125,1);
	overflow: hidden;
	--web-view-name: Sign Up (Investors);
	--web-view-id: Sign_Up__Investors_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Path_216 {
	overflow: visible;
	position: absolute;
	width: 641px;
	height: 1032.279px;
	left: 709px;
	top: 183px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 406px;
	overflow: visible;
}
.Path_198 {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199 {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Full_Name_as_in_IC___Passport {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Group_31 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 476px;
	overflow: visible;
}
.Path_198_t {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_t {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_ua {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#IGN__Optional_ {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Group_8_uc {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 546px;
	overflow: visible;
}
.Path_198_ud {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_ue {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_uf {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Email {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Group_8_uh {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 616px;
	overflow: visible;
}
.Path_198_ui {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_uj {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_uk {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Password {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Group_8_um {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 686px;
	overflow: visible;
}
.Path_198_un {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_uo {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_up {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Re_enter_password {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Group_8_ur {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 756px;
	overflow: visible;
}
.Path_198_us {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_ut {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_uu {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Contact_Number {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 616.378px;
	height: 1px;
	left: 721.048px;
	top: 300.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Button_CTA {
	position: absolute;
	width: 216px;
	height: 45px;
	left: 928px;
	top: 1106px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Profile_Page__Investor_.html;
	cursor: pointer;
}
.Rectangle_1090 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Sign_Up {
	position: absolute;
	left: 70px;
	top: 11px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Button_CTA_u {
	position: absolute;
	width: 121px;
	height: 45px;
	left: 1175px;
	top: 230px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
}
.Rectangle_1090_u {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Log_in {
	position: absolute;
	left: 32px;
	top: 11px;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Already_have_an_account_ {
	position: absolute;
	left: 749px;
	top: 241px;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(101,97,125,1);
}
#Sign_up_and_invest_in_the_next {
	position: absolute;
	left: 780px;
	top: 337px;
	overflow: visible;
	width: 500px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(101,97,125,1);
}
#Group_43 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 896px;
	overflow: visible;
}
#Group_7_u {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_u {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Upload_NRIC_front {
	position: absolute;
	left: 123px;
	top: 17px;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Group_42 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 966px;
	overflow: visible;
}
.Path_198_va {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_7_vb {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_vc {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Upload_NRIC_back {
	position: absolute;
	left: 122px;
	top: 17px;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Note__It_will_take_a_few_days_ {
	position: absolute;
	left: 817px;
	top: 1053px;
	overflow: visible;
	width: 439px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(101,97,125,1);
}
#Group_100 {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 850px;
	top: 826px;
	overflow: visible;
}
#Group_7_vg {
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_199_vh {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Enter_your_NRIC {
	position: absolute;
	left: 129px;
	top: 17px;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,97,125,1);
}
#Footer_1 {
	position: absolute;
	width: 1920px;
	height: 306px;
	left: 0px;
	top: 1289px;
	overflow: visible;
}
.Base {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 306px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#CONTACT_US {
	position: absolute;
	left: 77px;
	top: 69px;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#_44_345_678_903_adobexd_mail_c {
	position: absolute;
	left: 285px;
	top: 69px;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#SERVICES {
	position: absolute;
	left: 542px;
	top: 70px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Contact_Us_Ordering___Payment_ {
	position: absolute;
	left: 723px;
	top: 69px;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#INFORMATION {
	position: absolute;
	left: 984px;
	top: 69px;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Work_With_US_Privacy_Policy_Te {
	position: absolute;
	left: 1203px;
	top: 63px;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#social {
	position: absolute;
	width: 262px;
	height: 137px;
	left: 1608px;
	top: 63px;
	overflow: visible;
}
#Symbol_11___1 {
	position: absolute;
	width: 47.909px;
	height: 52px;
	left: 214.091px;
	top: 0px;
	overflow: visible;
}
.Rectangle_392 {
	position: absolute;
	overflow: visible;
	width: 35px;
	height: 52px;
	left: 12.909px;
	top: 0px;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 26.613px;
	height: 50.961px;
	left: 0px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Symbol_12___1 {
	position: absolute;
	width: 62px;
	height: 137px;
	left: 102px;
	top: 0px;
	overflow: visible;
}
.Rectangle_393 {
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 137px;
	left: 0px;
	top: 0px;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 60.534px;
	height: 49.1px;
	left: 0px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Symbol_13___1 {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_46 {
	position: absolute;
	width: 1920px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Navigation_Bar {
	position: absolute;
	width: 1920px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Base_v {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#BORROW {
	position: absolute;
	left: 349px;
	top: 35px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#INVEST {
	position: absolute;
	left: 484px;
	top: 35px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#REFER {
	position: absolute;
	left: 749px;
	top: 35px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#DISCOVER {
	position: absolute;
	left: 606px;
	top: 35px;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Symbol_12___3 {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 1617px;
	top: 37px;
	overflow: visible;
}
.Rectangle_393_v {
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 22px;
	left: 0px;
	top: 0px;
}
#Group_45 {
	position: absolute;
	width: 241px;
	height: 70px;
	left: 40px;
	top: 13px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 171px;
	height: 50px;
	left: 70px;
	top: 10px;
	overflow: visible;
}
.Path_212 {
	overflow: visible;
	position: absolute;
	width: 171px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#MOOLAH {
	position: absolute;
	left: 19px;
	top: 9px;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#logo_FINAL {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 118px;
	height: 47px;
	left: 1752px;
	top: 25px;
	overflow: visible;
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.604));
	position: absolute;
	overflow: visible;
	width: 136px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.Rectangle_1104 {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#LOG_IN {
	position: absolute;
	left: 25px;
	top: 13px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(234,234,234,1);
}
